body{
  background-color: #384c33;
  font-family: masqualero, sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}
.header{
  font-family: masqualero-groove, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #384c33;
  background-color:#f4efe9;
}
.container-flex{
  display:none;
  background-color: #f4efe9;
  border: 5px solid #bd9b16;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}
iframe{
  margin: auto;
  display: block;
  max-width: 50%;
  border-radius: 10px;
}
button{
  background-color:#bd9b16;
  color: black;
  border-radius: 10px;
}
#entrySplash{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#entrySplash:hover, #entrySplash:active{
  filter:drop-shadow(0 0 92px #bd9b16);
}
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

#output, .showErrors{
  margin: 10px;
  text-align: center;
}

#spotify{
  margin: 20px;
}